.video {
  margin-top: 100px;
}

.video__iframes {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  margin-bottom: -40px;
}

.video__iframe {
  margin-right: 20px;
  border: hidden;
  width: 515px;
  height: 316px;
}

.video__iframe:last-child {
  margin-right: 0;
}
