.khan {
  padding-top: 105px;
  margin: 0 auto;
  width: 80%;
  background-color:#f2f2f2;
}

.khan__container {
  margin: 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 790px;
  margin: 50px auto 36px 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: fill;
}

.buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  text-decoration: none;
  transition: opacity linear 0.6s;
  align-self:flex-start;
}
.buy-link:hover {
  opacity: 0.3;
}
