.description {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  
  .two-columns__brief {
    width: 175px;
    color: #2f80ed;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .two-columns__main-text {
    width: 80%;
    min-width: 784px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .two-columns__paragraph {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  .two-columns__span-accent {
    font-weight: bold;
  }
  
  .two-columns__paragraph:last-of-type {
    margin-bottom: 0;
  }
  
  .two-columns__paragraph:first-of-type {
    margin-top: 0;
  }