@import url(../blocks/header/header.css);
@import url(../blocks/content/description/description.css);
@import url(../blocks/content/techniques/techniques.css);
@import url(../blocks/content/video/video.css);
@import url(../blocks/content/feynman/feynman.css);
@import url(../blocks/content/khan/khan.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/content/digits/digits.css);
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/content/oakley/oakley.css);
@import url(../blocks/content/resources/resources.css);
@import url(../blocks/components/section/section.css);
@import url(../blocks/components/section/__theme_dark/section__theme_dark.css);
@import url(../blocks/components/table/table.css);
@import url(../blocks/components/table/__theme_dark/table__theme_dark.css);
@import url(../blocks/components/logo/logo.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
